<div class="infoblock">
    <div class="infoblock__title">
        Уважаемый абонент!
    </div>
    <p>Личный кабинет позволит вам:</p>
    <ul>
        <li><img src="../assets/img/icons/icon_01.svg" alt="Получить информацию о состоянии лицевого счёта">Получить информацию о состоянии лицевого счёта</li>
        <li><img src="../assets/img/icons/icon_02.svg" alt="Передать показания счетчиков">Передать показания счетчиков</li>
        <li><img src="../assets/img/icons/icon_03.svg" alt="Посмотреть историю начислений">Посмотреть историю начислений</li>
        <li><img src="../assets/img/icons/icon_04.svg" alt="Оплатить услуги">Оплатить услуги</li>
        <li><img src="../assets/img/icons/icon_05.svg" alt="Задать вопрос и получить ответ">Задать вопрос и получить ответ</li>
        <li><img src="../assets/img/icons/icon_06.svg" alt="Подать заявку на устранение повреждений">Подать заявку на устранение повреждений</li>
        <li><img src="../assets/img/icons/icon_07.svg" alt="Получить полную информацию о теплоснабжении вашего дома">Получить полную информацию о теплоснабжении вашего дома</li>
    </ul>
</div>