<aside class="sidebar">
     <div class="sidebar__logo">
        <a href="/">
            <img src="../assets/img/logo.jpg" alt="Название компании">
        </a>
    </div>
    <nav class="main-menu">
        <a href="../information.html" class="menu-link" data-section="information">Общие данные</a>
        <a href="../settlements.html" class="menu-link" data-section="settlements">Взаиморасчеты</a>
        <a href="../arrears.html" class="menu-link" data-section="arrears">Задолженность</a>
        <a href="../points-delivery.html" class="menu-link" data-section="points-delivery">Точки поставки и приборы учета</a>
        <a href="../accounting-system.html" class="menu-link" data-section="accounting-system">Интелектуальная система учета</a>
        <a href="../documents.html" class="menu-link" data-section="documents">Документы</a>
        <a href="../appeals.html" class="menu-link" data-section="appeals">Обращения</a>
        <a href="../notifications.html" class="menu-link" data-section="notifications">Уведомления</a>
        <a href="../contacts.html" class="menu-link" data-section="contacts">Контактная информация</a>
    </nav>
    <div class="submenu">
        <a href="../setting.html">Настройки</a>
        <button>Выход из аккаунта</button>
    </div>
    <hr/>
    <div class="sidebar-info">
        <div class="sidebar-info__item">
            <div class="sidebar-info__item-text">
                Единая горячая линия:
            </div>
            <div class="sidebar-info__item-number">
                <a href="tel:+7 (834) 236-48-00">+7 (834) 236-48-00</a>
            </div>
            <div class="sidebar-info__item-text">
                <a href="www.mesk.ru" target="_blank">www.mesk.ru</a>
            </div>
        </div>
        <div class="sidebar-info__item">
            <div class="sidebar-info__item-text">
                Единый номер Россети:
            </div>
            <div class="sidebar-info__item-number">
                <a href="tel:8 800 220 0 220 ">8 800 220 0 220 </a>
            </div>
        </div>
    </div>
</aside>